<h2>Update Customer</h2>
{{message}}

<form name="editCustomerForm" ng-submit="updatePlayer()">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" ng-model="customer.name"/></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="text" ng-model="customer.age"/></td>
        </tr>
        <tr>
            <td>Income</td>
            <td><input type="text" ng-model="customer.income"/></td>
        </tr>
        <tr>
            <td>City</td>
            <td><input type="text" ng-model="customer.city"/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Update"/></td>
        </tr>
        
    </table>
</form>