<html>
    <head>
        <!--Bootstrap and Angular library-->
        <script src="../libraries/jQuery/jquery-3.1.1.min.js"></script>
        <script src="../libraries/bootStrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../libraries/bootStrap/css/bootstrap.min.css"/>
        <script src="../libraries/angular/angular.min.js"></script>
        <script src="../libraries/angular/angular-route.min.js"></script>
        
        <!--Angular Modules-->
        <script src="../js/app.js"></script>
        <script src="../js/controllers.js"></script>
    </head>
    <body ng-app="myApp">
        <div ng-view>
            
        </div>
        
    </body>
</html>